parameters:
	ignoreErrors:
	- '#Access to an undefined property static\(.+\)\|Swaggest\\JsonSchema\\Constraint\\Properties\:\:#'
	- '#Access to an undefined property static\(.+\)|Swaggest\JsonSchema\NameMirror\:\:#'
